name: Build and push docker image

on:
  workflow_dispatch:

env:
  REGISTRY: # wich registry do you want to use ?
  NAMESPACE: # wich namespace do you want to use ? what is ${{github.repository }} ?
  PLATFORM: # wich platform do you want to use ? linux/amd64, linux/arm64, linux/arm/v7, linux/arm/v6
  TAG: # wich tag do you want to use ?


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2 # Follow the link to read more about this action

      - name: Login to Docker Hub
        uses: docker/login-action@v2 # Follow the link to read more about this action
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # What is this GITHUB_TOKEN ? Why is it working here ?
          logout: true
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: packages/streamlit/Dockerfile
          platforms: ${{ env.PLATFORM }}
          push: true
          tags: "${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.TAG }}"